# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Coverage directory used by Jest
coverage/

# TypeScript
*.tsbuildinfo

# Dist directory
dist/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
.DS_Store